@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

/* HOME CONTENT */

.back-video {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.hero-content {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.hero-content p {
    width: 800px;
    color: #ffffff;
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.hero-content button {
    background-color: #842C68;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .5s;
}

.hero-content button:active {
    scale: .9;
}


/* MAIN CONTENT */

.home-main {
    width: 100%;
}

/* CADRS */

.card-title {
    display: flex;
    padding-left: 50px;
}

.card-title h1 {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 50px 0;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.cards .card {
    width: 620px;
    height: 521px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards .card h3 {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
}

.cards .card a {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.cards .card-two {
    width: 400px;
    height: 647px;
}

.cards .card-two p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 400;
}

/* ACTION */

.action {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.action .section-one {
    width: 840px;
    height: 724px;
}

.action .section-two {
    width: 440px;
    height: 724px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.action .section-two h1,
h2 {
    font-size: 48px;
    font-weight: 500;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.section-two h2 {
    color: #842C68;
}

@media (max-width:480px) {

    .home-hero {
        width: 100%;
    }

    .home-hero .container {
        width: 100%;
        padding: 0px 40px;
    }

    .back-video {
        width: 100% !important;
        top: 60px;
    }

    .hero-content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 80px;
        gap: 20px;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content p {
        width: 100%;
        font-size: 12px;
    }

    .hero-content button {
        font-size: 10px;
        width: 100px;
        height: 30px;
    }

    .home-main {
        padding-top: 50px;
    }

    .card-title {
        padding-left: 0;
    }

    .card-title h1 {
        width: 100%;
        font-size: 22px;
        padding: 50px 40px;
        text-align: center;
    }

    .cards {
        width: 100%;
        height: auto;
    }

    .cards .card {
        width: 420px;
        height: 300px;
        gap: 10px;
        padding: 0px 40px;
    }

    .cards .card img {
        width: 100%;
    }

    .cards .card h3 {
        font-size: 20px;
    }

    .cards .card a {
        font-size: 16px;
    }

    .cards-two {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        gap: 250px;
        justify-content: space-between;
    }

    .cards-two .card-two {
        width: 420px;
        height: 300px;
    }

    .cards-two .card-two h3 {
        font-size: 20px;
    }

    .cards-two .card-two p {
        font-size: 14px;
        text-align: justify;
    }

    .cards-two .card-two a {
        font-size: 14px;
    }

    .action {
        width: 100%;
        height: 600px;
        display: flex;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 60px;
        margin-top: 200px;
        padding-top: 0;
        align-items: center;
        flex-direction: column;
    }

    .section-one {
        width: 350px !important;
        padding-top: 50px;
    }

    .section-one img {
        width: 100%;
        object-fit: cover;
    }

    .section-two {
        width: 350px !important;
    }

    .section-two h1,
    .section-two h2 {
        font-size: 30px !important;
    }
}